@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;


}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to left,
            #234970,
            #202B36);
}


:root {
    --text-color: white;
    --sidebar-color: rgb(53, 51, 64);
    --backgroud-color: #1F1D2B;
}

body.light {
    --text-color: #707070;
    --sidebar-color: white;
    --backgroud-color: #F6F5FF;
    --new-backgroud-color: background-image: linear-gradient(to right,
            #234970,
            #202B36);
    ;
}

#az {
    color: rgb(53, 243, 107);
}

#logo {
    color: var(--text-color);
    margin-left: -60px;
}

#checkmain {
    display: none;
}

.top {

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to right,
            #234970,
            #202B36);

}


.nav-new-film img {
    object-fit: cover;
    transition: transform 400ms ease-out;
    width: 100%;
    height: 100%;
}

.search {
    padding: 5px 10px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 95% 5%;
    width: 672px;
    height: 100%;
    background-color: rgb(53, 51, 64);

}

.search i {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    background-color: rgb(53, 51, 64);
    cursor: pointer;

}

.search input {
    background-color: rgb(53, 51, 64);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: var(--text-color);

}

.login {

    width: 125px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 70%;

}

.login a {
    text-decoration: none;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.login i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

/* left*/

.menu1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.menu1 ion-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--text-color);

}

.menu1 ion-icon:hover {
    background-color: rgb(197, 66, 66);
    transition: 0.5s;

}

.menu1 b {
    font-size: 20px;
    color: var(--text-color);
}

.mainleft {
    width: 100%;
    background-color: var(--backgroud-color);
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--backgroud-color);
    border-right: solid rgb(53, 51, 64);
    position: absolute;
    width: 100%;
}

.sub-btn {
    display: flex;
}

.sub-btn p {
    font-size: 20px;
}

.navchil {

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

    border-radius: 10px;


}

.menu {
    display: flex;
}

.sub-item {
    margin-left: 35px;
    height: 100%;


}

.sub-item {
    width: 80%;
    display: grid;
    grid-template-columns: 10% 90%;
    border-radius: 5px;
}

.sub-item:hover {
    background-color: #164472;

}

.left .navchil .dropdow a ::before {
    color: rgb(240, 61, 61);
    margin-left: -20px;
    font-size: 7px;
    background-color: transparent;
}


.left .navchil .dropdow {
    position: relative;
    background-color: #403d54;
    display: none;
}

.navchil ion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 27px;
    background-color: transparent;
    color: var(--text-color);
    float: left;
    margin-right: 5px;
}

.navchil a {
    float: left;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--text-color);
    transition: 0.5s;

}

.navchil button {
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.navchil button ion-icon {
    margin-right: 2px;
    left: 0;
}

.navchil .dropdowicon {

    float: right;
}

.navchil:hover {
    background: linear-gradient(to right, #164472, #4765CA);
    transition: 0.5s;
}

b {
    color: var(--text-color);
}

/* drop dow */



/* main */
/* .main {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 12% 88%;


} */

.maintop {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-row-gap: 22px;
    grid-column-gap: 10px;

}



.right {

    margin-left: -10px;

    background-color: var(--new-backgroud-color);
    padding-top: 5px;
    padding-left: 15px;
}

.slideshow-container {
    grid-column: 1/4;
    grid-row: 1/3;
    height: 60%;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */

    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */

    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}





/* css introduce film */
#text-introduce {
    color: white;

}

.left-introduce {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;

}

.left-introduce-image img {
    width: 100%;
    height: 70%;
    border: solid #91301b;
    border-radius: 10px;
    margin-top: 10%;
}

.left-introduce-info p {
    margin: 10px;
    color: white;
}

.left-introduce-info h2 {
    margin: 10px;
    margin-top: 7px;


    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #ffd96a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

}

.left-introduce-info span {
    color: rgb(79, 79, 225);
}

#mota {
    width: 100%;
    height: 200px;
    overflow: scroll;
}

.mota {
    background-color: #1F1D2B;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    padding-right: 20px;
}

.mota h3 {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.right-introduce {
    display: flex;
    flex-direction: column;
    overflow: scroll;

}

.nav-new-film-text span {
    color: #ffa400
}

.nav-new-film-text p {
    margin-bottom: 10px;
    font-weight: 600;
    color: white;

}

.main-introduce {
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
    background-color: #1D3042;
    height: 80vh;
    border-radius: 20px;
    margin: 10px 10px 0 10px;

}

#trending {
    font-size: 27px;
    font-weight: 400;
    color: #dd8051;
}

.nav-new-film {
    display: flex;
    border-radius: 10px;
    background-color: #1F1D2B;
    margin-top: 2px;
    padding: 10px;
}

.nav-new-film-text {
    margin-left: 10px;
}

.nav-new-film img {
    width: 25%;
    height: 100px;
    border: solid 1px white;

    transition: 0.6s;

}

.nav-new-film img:hover {
    transform: scale(1.1);
}

.left-introduce-button {
    display: flex;
}


.button-introduce {
    width: 50%;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(to left,
            #30CFD0 0%,
            #330867 100%);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.button-introduce i {
    font-size: 20px;
    margin-right: 10px;
}

/* start comment */
.container-commentfilm {
    background-color: #1D3042;

}

.tilte {
    display: flex;
    padding: 10px;
    justify-content: left;
}

.tilte p {
    color: white;
    font-weight: 600;
    font-size: 20px;

    padding-top: 10px;
}

.tilte i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.comment-film {
    padding: 0px 150px;
}

#type-name {
    width: 100%;
    background-color: var(--backgroud-color);
    border: none;
    outline: none;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 4px;
    font-weight: 600;
    color: white;
}

.send-comment {
    width: 30%;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: linear-gradient(to left,
            #30CFD0 0%,
            #330867 100%);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.send-comment i {
    margin-right: 5px;
}

/* user-comment */

.card-user-comment {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.card-user-comment img {
    width: 70%;
    border-radius: 50%;
    cursor: pointer;
}

.card-user-comment-img {
    text-align: center;
}


.user-comment {
    padding: 15px;
    background-color: var(--backgroud-color);
    border-radius: 5px 20px 5px;
}

.user-coment-tilte {
    display: flex;
    color: white;
    justify-content: space-between;
}

#more {
    position: relative;
    cursor: pointer;
}

#more-after {
    padding: 5px;
    display: flex;
    text-align: center;
    width: 80px;
    font-size: 15px;
    font-weight: 550;
    position: absolute;
    background-color: white;
    color: black;
    left: 0;
    border-radius: 2px;
    display: block;
    display: none;
}

#more:hover #more-after {
    display: block;
}

#text-comment {
    color: white;
    font-size: 20px;
    padding: 5px 0px;
}

.user-coment-tilte-child {
    display: flex;

}

#time {
    font-size: 12px;
    color: rgb(218, 209, 209);
    padding: 5px 0px;
}

.user-coment-tilte p,
i {
    font-weight: 600;
    font-size: 18px;
}

.user-coment-tilte-child i {

    background-color: green;
    margin-left: 10px;
    padding: 5px;
    font-size: 13px;
    border-radius: 50%;
    transform: translateY(-20%);
}

.card-user-comment-emotion {
    display: flex;

}

.emotion-like {
    position: relative;
}

.emotion,
.emotion-like {
    font-weight: 600;
    padding: 3px;
    color: rgb(232, 224, 224);
    cursor: pointer;
}

#seven-comment {
    color: white;
}

.emotion-fb span {
    font-size: 30px;

    cursor: pointer;
    opacity: 0.6s;
}

.emotion-fb {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: var(--backgroud-color);

    border: solid 2px;
    border-color: white;
    height: 50px;
    border-radius: 100px;

    display: none;
}

.emotion-like:hover .emotion-fb {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0s;
}


.emoji {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #e9ebee;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.emoji:hover {
    transform: scale(1.2);
    z-index: 1;
}

.emoji span.count {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #fff;
    transform: translate(-50%, -50%);
}

.emoji span img {
    width: 43px;
    border: solid 1px white;
}

#wow {
    padding: 0;
}



/* css contact us */
.contactus {

    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
}

.sendmessage {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    justify-content: space-evenly;

}

.info-chil i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.info-chil span {

    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);

}

.sendmessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sendmessage input {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding-left: 10px;
}

textarea {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 200px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding: 4px;
}

.tiltle {
    float: left;
    left: 0;
    color: var(--text-color);
}

h1 span {
    color: rgb(189, 23, 23);
}


#button {
    padding: 15px 40px;
    background-image: linear-gradient(to left,
            #ff4895,
            #ffd96a);
    ;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
}

/* responsive */
@media only screen and (max-width:739px) {
    * {
        font-size: 10px;
    }

    i {
        font-size: 10px;
    }

    .menu ion-icon {
        width: 20px;
    }

    .menu p {
        display: none;
    }

    .sub-btn p {
        display: none;
    }

    #dropdowicon {
        display: none;
    }

    .navchil .sub-btn ion-icon {
        margin-left: -5px;
    }

    .login span {
        display: none;

    }

    .login {
        display: none;
    }

    .top {
        display: flex;
        padding-right: 5px;
        flex-wrap: 10px;
        justify-content: space-between;
        padding-left: 5px;
        position: fixed;
    }

    .main-introduce {
        margin: 0;
        height: 70vh;
    }



    .nav-new-film img {
        height: 100%;
    }

    .button-introduce {
        width: 100%;
    }

    .left-introduce-button {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-introduce-image img {
        margin-top: 20px;
        height: 60%;
    }

    .send-comment span,
    i {
        font-size: 13px;
    }

    #text-comment {
        font-size: 15px;
    }

    #more {
        font-size: 15px;
    }

    .user-coment-tilte p,
    i {
        font-size: 15px;
    }

    .user-coment-tilte p i {
        font-size: 10px;
        display: none;
    }

    .info-chil span,
    i {
        font-size: 12px;
    }

    .sendmessage input,
    textarea {
        font-size: 14px;
        height: 10%;
    }

    .sendmessage textarea {
        font-size: 14px;
        height: 30%;
    }

    #button {
        font-size: 10px;
        padding: 7px 20px;
        width: 60%;
        cursor: pointer;
    }

    .comment-film {
        width: 130%;
        transform: translateX(-10%);
    }

    .search {
        width: 50%;
    }

    #checkmain {
        margin-top: -50px;
        z-index: 1;
        position: absolute;
        left: 0;
        font-size: 30px;
        color: white;
        display: block;
        cursor: pointer;
        position: fixed;
    }

    .container-commentfilm {
        margin-top: -15px;
    }

    .mainleft {
        width: 10%;
        z-index: 1;
        transform: translateX(-100%);
        transition: linear 0.2s;
    }

    .main {
        margin-top: 70px;
        width: 100%;
        margin-right: 200px;
    }

    .right {
        width: 100%;
    }

    .container {
        position: relative;
    }



    #top-hide:checked~.mainleft {
        transform: translateX(0);
        height: 100vh;
        position: fixed;
    }

    #top-hide:checked~.overlay {
        display: block;
        height: 100%;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        position: fixed;
        z-index: 1;
        display: none;
    }

    #navchillogin i {
        font-size: 20px;
        padding: 0;

    }

    .navchil:last-child {
        margin-top: -15px;
    }

    #logo {
        transform: translateX(50%);
        font-size: 1.875em;
    }

    #logo span {
        font-size: 1.875em;
    }

    .card-user-comment-img img {
        width: 50px;
    }

    .dropdow a {
        padding: 10px 40px;
        transform: translateX(-70%);

        background-color: #1D3042;
    }

}

.top {
    justify-content: space-between;
}

@media only screen and (min-width:440px) and (max-width:1023px) {
    * {
        font-size: 15px;
    }

    #logo {
        margin-left: 30px;
    }

    i {
        font-size: 10px;
    }

    .menu ion-icon {
        width: 20px;
    }

    .menu p {
        display: none;
    }

    .sub-btn p {
        display: none;
    }

    #dropdowicon {
        display: none;
    }

    .navchil .sub-btn ion-icon {
        margin-left: -5px;
    }

    .login span {
        display: none;

    }

    .login {
        display: none;
    }

    .top {
        display: flex;
        padding-right: 5px;
        flex-wrap: 10px;
        justify-content: space-between;
        padding-left: 5px;
        position: fixed;
    }

    .main-introduce {
        margin: 0;
        height: 70vh;
    }



    .nav-new-film img {
        height: 100%;
    }

    .button-introduce {
        width: 100%;
    }

    .left-introduce-button {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-introduce-image img {
        margin-top: 20px;
        height: 60%;
    }

    .send-comment span,
    i {
        font-size: 13px;
    }

    #text-comment {
        font-size: 15px;
    }

    #more {
        font-size: 15px;
    }

    .user-coment-tilte p,
    i {
        font-size: 15px;
    }

    .user-coment-tilte p i {
        font-size: 10px;
        display: none;
    }

    .info-chil span,
    i {
        font-size: 12px;
    }

    .sendmessage input,
    textarea {
        font-size: 14px;
        height: 10%;
    }

    .sendmessage textarea {
        font-size: 14px;
        height: 30%;
    }

    #button {
        font-size: 10px;
        padding: 7px 20px;
        width: 60%;
        cursor: pointer;
    }

    .comment-film {
        width: 130%;
        transform: translateX(-10%);
    }

    .search {
        width: 50%;
    }

    #checkmain {
        margin-top: -50px;
        z-index: 1;
        position: absolute;
        left: 0;
        font-size: 30px;
        color: white;
        display: block;
        cursor: pointer;
        position: fixed;
    }

    .container-commentfilm {
        margin-top: -15px;
    }

    .card-user-comment-img img {
        width: 50px;
    }

    .mainleft {
        width: 10%;
        z-index: 1;
        transform: translateX(-100%);
        transition: linear 0.2s;
    }

    .main {
        margin-top: 70px;
        width: 100%;
        margin-right: 200px;
    }

    .right {
        width: 100%;
    }

    .container {
        position: relative;
    }



    #top-hide:checked~.mainleft {
        transform: translateX(0);
        height: 100vh;
        position: fixed;
    }

    #top-hide:checked~.overlay {
        display: block;
        height: 100%;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        position: fixed;
        z-index: 1;
        display: none;
    }

    #navchillogin i {
        font-size: 20px;
        padding: 0;

    }

    .navchil:last-child {
        margin-top: -15px;
    }

    #logo {
        transform: translateX(50%);
        font-size: 1.875em;
    }

    #logo span {
        font-size: 1.875em;
    }

    .dropdow a {
        padding: 10px 40px;
        transform: translateX(-70%);

        background-color: #1D3042;
        border-radius: 0;

    }

    .dropdow span {
        font-size: 10px;
    }

}

@media only screen and (min-width:1024px) {
    .main {
        margin-top: 70px;
        display: grid;
        grid-template-columns: 13% 87%;


    }

    .left {
        position: fixed;
        width: 13%;
    }

    #navchillogin {
        display: none;
    }


}

@media screen and (max-width:1024px) {}