@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;


}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to left,
            #234970,
            #202B36);
    display: flex;
    justify-content: center;
    align-items: center;

}


:root {
    --text-color: white;
    --sidebar-color: rgb(53, 51, 64);
    --backgroud-color: #1F1D2B;
}

body.light {
    --text-color: #707070;
    --sidebar-color: white;
    --backgroud-color: #F6F5FF;
    --new-backgroud-color: background-image: linear-gradient(to right,
            #234970,
            #202B36);
    ;
}

#az {
    color: rgb(53, 243, 107);
}

#logo {
    color: var(--text-color);
    margin-left: -60px;
}

#checkmain {
    display: none;
}

.top {

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-image: linear-gradient(to right,
            #234970,
            #202B36);

}



.search {
    padding: 5px 10px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 95% 5%;
    width: 672px;
    height: 100%;
    background-color: rgb(53, 51, 64);

}

.search i {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    background-color: rgb(53, 51, 64);
    cursor: pointer;

}

.search input {
    background-color: rgb(53, 51, 64);
    border: none;
    border-radius: 100px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    color: var(--text-color);

}

.login {

    width: 125px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    height: 70%;

}

.login a {
    text-decoration: none;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.login i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

/* css contact us */
.contactus {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
}

.sendmessage {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    justify-content: space-evenly;

}

.info-chil i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.info-chil span {

    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);

}

.sendmessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sendmessage input {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding-left: 10px;
}

textarea {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 200px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding: 4px;
}

.tiltle {
    float: left;
    left: 0;
    color: var(--text-color);
}

h1 span {
    color: rgb(189, 23, 23);
}


#button {
    padding: 15px 40px;
    background-image: linear-gradient(to left,
            #ff4895,
            #ffd96a);
    ;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
}

.video-container {

    margin: auto;
    width: 70%;
    margin-top: 100px;
    position: relative;
}

.image-with-overlay {
    position: relative;
    display: block;
}

.image-with-overlay img {
    margin: auto;
    margin-top: 30px;

    width: 100%;
    display: block;
    height: auto;

}

.image-with-overlay:hover~.overlay {
    opacity: 1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover {
    opacity: 1;
    /* Hiện lớp mờ và icon khi trỏ chuột vào */
}

.overlay i {
    cursor: pointer;
    font-size: 3em;
    color: white;
}

.text {
    width: 100%;

}

button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;

}

#buttonred {
    background-color: #D9534F;
    font-size: 15px;
    font-weight: 550;
    color: #F6F5FF;
}

#buttonblue {
    font-size: 15px;
    font-weight: 550;
    color: #F6F5FF;
    background-color: #55B2F5;
    margin-left: 5px;
}

.divbutton {

    width: 100%;
    display: flex;
    justify-content: center;
}

.text h1 {
    color: #ba524e;
    text-align: center;
}

/* cardfilm */
.gallery-item {

    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.slideshow-container {
    overflow: hidden;
    height: 100%;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

img {
    object-fit: cover;
    transition: transform 400ms ease-out;
    width: 100%;
    height: 100%;
}

.imgchil:hover {
    transform: scale(1.1);
    transition: .7s;
}

img::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;

    background-color: white;
    z-index: 3;

}

.vietsub {
    position: absolute;
    background-image: linear-gradient(to left,
            #eb2208,
            #ffd96a);
    border-radius: 0px 0px 5px 0px;
}


/* slide show */

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.star i {
    font-size: 20px;
    color: rgb(255, 255, 0);
    margin-right: 5px;

}

.star {
    display: flex;
    flex-direction: row;

    margin: 10px;

}


.listphim {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: var(--text-color);
    padding: 5px;

}


.listphim img {

    height: 300px;
}

.cardfilm {
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(14, 5, 116, 0.4);
    background-color: var(--sidebar-color);
    border-radius: 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.cardfilm h3:hover {
    color: #FD4;
}

.cardfilm a {
    text-decoration: none;
}

.cardfilm h3 {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* css contact us */
.contactus {

    display: grid;
    grid-template-columns: 40% 60%;
    padding: 10px;
}

.sendmessage {
    display: flex;
    flex-direction: column;
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    justify-content: space-evenly;

}

.info-chil i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
}

.info-chil span {

    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);

}

.sendmessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sendmessage input {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 50px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding-left: 10px;
}

textarea {
    background-color: var(--backgroud-color);
    width: 70%;
    height: 200px;
    border: none;
    margin: 5px;
    font-size: 20px;
    outline: none;
    color: var(--text-color);
    border-radius: 10px;
    padding: 4px;
}

.tiltle {
    float: left;
    left: 0;
    color: var(--text-color);
}

h1 span {
    color: rgb(189, 23, 23);
}


#button {
    padding: 15px 40px;
    background-image: linear-gradient(to left,
            #ff4895,
            #ffd96a);
    ;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 10px;
}

#navchillogin {
    display: none;
}


#checkmain {
    display: none;
}

/* responsive */
#logo {
    font-size: 30px;
    width: 50px
}

@media only screen and (max-width:739px) {
    .tiltle {
        font-size: 20px;
        text-align: center;
    }

    .info-chil {
        font-size: 5px;
        word-wrap: break-word;
    }

    * {
        font-size: 10px;
    }

    i {
        font-size: 10px;
    }

    .menu ion-icon {
        width: 20px;
    }

    .menu p {
        display: none;
    }

    .sub-btn p {
        display: none;
    }

    #dropdowicon {
        display: none;
    }

    .navchil .sub-btn ion-icon {
        margin-left: -5px;
    }

    .login span {
        display: none;

    }

    .login {
        display: none;
    }

    .top {
        display: flex;
        padding-right: 5px;
        flex-wrap: 10px;
        justify-content: space-between;
        padding-left: 5px;
        position: fixed;

    }

    #logo {

        margin: 0;

        width: 40px;
        height: 40px;
    }

    .main-introduce {
        margin: 0;
        height: 70vh;
    }



    .nav-new-film img {
        height: 100%;
    }

    .button-introduce {
        width: 100%;
    }

    .left-introduce-button {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-introduce-image img {
        margin-top: 20px;
        height: 60%;
    }

    .send-comment span,
    i {
        font-size: 13px;
    }

    #text-comment {
        font-size: 15px;
    }

    #more {
        font-size: 15px;
    }

    .user-coment-tilte p,
    i {
        font-size: 15px;
    }

    .user-coment-tilte p i {
        font-size: 10px;
        display: none;
    }

    .info-chil span,
    i {
        font-size: 12px;
    }

    .sendmessage input,
    textarea {
        font-size: 14px;
        height: 10%;
    }

    .sendmessage textarea {
        font-size: 14px;
        height: 30%;
    }

    #button {
        font-size: 10px;
        padding: 7px 20px;
        width: 60%;
        cursor: pointer;
    }

    .comment-film {
        width: 130%;
        transform: translateX(-10%);
    }

    .search {
        width: 50%;
    }

    #checkmain {
        margin-top: -50px;
        z-index: 1;
        position: absolute;
        left: 0;
        font-size: 30px;
        color: white;
        display: block;
        cursor: pointer;
        position: fixed;
    }

    .container-commentfilm {
        margin-top: -15px;
    }

    .mainleft {
        width: 10%;
        z-index: 1;
        transform: translateX(-100%);
        transition: linear 0.2s;
    }

    .main {
        margin-top: 70px;
        width: 100%;

    }

    .right {
        width: 100%;
    }

    .container {
        position: relative;
    }



    #top-hide:checked~.mainleft {
        transform: translateX(0);
        height: 100vh;
        position: fixed;
    }

    #top-hide:checked~.overlay {
        display: block;
        height: 100%;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        position: fixed;
        z-index: 1;
        display: none;
    }

    #navchillogin i {
        font-size: 20px;
        padding: 0;

    }

    .navchil:last-child {
        margin-top: -15px;
    }

    #logo {
        transform: translateX(50%);
        font-size: 1.875em;
    }

    #logo span {
        font-size: 1.875em;
    }

    .card-user-comment-img img {
        width: 50px;
    }

    .dropdow a {
        padding: 10px 40px;
        transform: translateX(-70%);

        background-color: #1D3042;
    }

    .listphim {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cardfilm {
        height: 100%;
    }

    .cardfilm img {
        height: 100px;
    }

}

.top {
    justify-content: space-between;
}

@media only screen and (min-width:740px) and (max-width:1023px) {
    .listphim {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    * {
        font-size: 15px;
    }

    #logo {
        margin-left: 30px;
    }

    i {
        font-size: 10px;
    }

    .menu ion-icon {
        width: 20px;
    }

    .menu p {
        display: none;
    }

    .sub-btn p {
        display: none;
    }

    #dropdowicon {
        display: none;
    }

    .navchil .sub-btn ion-icon {
        margin-left: -5px;
    }

    .login span {
        display: none;

    }

    .login {
        display: none;
    }

    .top {
        display: flex;
        padding-right: 5px;
        flex-wrap: 10px;
        justify-content: space-between;
        padding-left: 5px;
        position: fixed;
    }

    .main-introduce {
        margin: 0;
        height: 70vh;
    }



    .nav-new-film img {
        height: 100%;
    }

    .button-introduce {
        width: 100%;
    }

    .left-introduce-button {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: space-between;
    }

    .left-introduce-image img {
        margin-top: 20px;
        height: 60%;
    }

    .send-comment span,
    i {
        font-size: 13px;
    }

    #text-comment {
        font-size: 15px;
    }

    #more {
        font-size: 15px;
    }

    .user-coment-tilte p,
    i {
        font-size: 15px;
    }

    .user-coment-tilte p i {
        font-size: 10px;
        display: none;
    }

    .info-chil span,
    i {
        font-size: 12px;
    }

    .sendmessage input,
    textarea {
        font-size: 14px;
        height: 10%;
    }

    .sendmessage textarea {
        font-size: 14px;
        height: 30%;
    }

    #button {
        font-size: 10px;
        padding: 7px 20px;
        width: 60%;
        cursor: pointer;
    }

    .comment-film {
        width: 130%;
        transform: translateX(-10%);
    }

    .search {
        width: 50%;
    }

    #checkmain {
        margin-top: -50px;
        z-index: 1;
        position: absolute;
        left: 0;
        font-size: 30px;
        color: white;
        display: block;
        cursor: pointer;
        position: fixed;
    }

    .container-commentfilm {
        margin-top: -15px;
    }

    .card-user-comment-img img {
        width: 50px;
    }

    .mainleft {
        width: 10%;
        z-index: 1;
        transform: translateX(-100%);
        transition: linear 0.2s;
    }

    .main {
        margin-top: 70px;
        width: 100%;

    }

    .right {
        width: 100%;
    }

    .container {
        position: relative;
    }



    #top-hide:checked~.mainleft {
        transform: translateX(0);
        height: 100vh;
        position: fixed;
    }

    #top-hide:checked~.overlay {
        display: block;
        height: 100%;
    }

    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        position: fixed;
        z-index: 1;
        display: none;
    }

    #navchillogin i {
        font-size: 20px;
        padding: 0;

    }

    .navchil:last-child {
        margin-top: -15px;
    }

    #logo {
        transform: translateX(50%);
        font-size: 1.875em;
    }

    #logo span {
        font-size: 1.875em;
    }

    .dropdow a {
        padding: 10px 40px;
        transform: translateX(-70%);

        background-color: #1D3042;
        border-radius: 0;

    }

    .dropdow span {
        font-size: 10px;
    }

}

@media only screen and (min-width:1024px) {




    #navchillogin {
        display: none;
    }


}

@media screen and (max-width:1024px) {}